<div class="main">
    <div class="standings">
        <div class="header">
            <h2>{{@title}}</h2>
        </div>
        {{log @player}}
        <table class="stats-table">
            <thead class="stats-table-head">
                <tr>
                    {{!-- @player is object that has attributes, to use #each need the object in an array [{..}] --}}
                    {{#each @player as |stat|}}
                        <th>Name</th>
                        <th>Date of Birth</th>
                        <th>Team Name</th>
                        <th>Goals</th>
                    {{/each}}
                </tr>
            </thead>
            <tbody class="stats-table-body">
                {{#each @player as |player|}}
                    <tr>
                        <td>{{player.first_name}} {{player.last_name}}</td>
                        <td>{{player.birth_date}}</td>
                        <td>{{player.name}}</td>
                        <td>{{player.goals}}</td>
                    </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
</div>