<div class="main">
  <div class="standings">
    <div class="header">
      <div class="table-title">
        <h2>{{@title}}</h2>
      </div>
      <div class="dropdown">
        <select id="dropdownMenu" onchange={{action 'changeScheduleData' value="target.value" }}>
          <option value="1">Division 1</option>
          <option value="2">Division 2</option>
        </select>
      </div>
    </div>

    {{#if this.data}}
      {{#each-in this.data as |key gameday|}}
        <table class="teams-table" id="date-header">
          <thead class="teams-table">
            <tr>
              <th>{{get gameday "0.day_name"}}, {{get gameday "0.month_name"}} {{get gameday "0.day_number"}}</th>
            </tr>
          </thead>
          <thead class="teams-table-head">
            <tr>
              {{#each this.headers as |header|}}
                <th>{{header}}</th>
              {{/each}}
            </tr>
          </thead>
          <tbody class="teams-table-body">
            {{#each-in gameday as |key2 game|}}
              <tr>
                <td>{{game.time}}</td>
                <td>{{game.home_team}}</td>
                <td>{{game.home_team_goals}} - {{game.visiting_team_goals}}</td>
                <td>{{game.visiting_team}}</td>
                <td>{{game.field}}</td>
              </tr>
            {{/each-in}}
          </tbody>
        </table>
        <br>
        <br>
      {{/each-in}}
    {{else}}
      could not retrieve schedule
    {{/if}}
  </div>
</div>