<div class="main">
  <div class="standings">
    <div class="header">
      <div class="table-title">
        <h2>{{@title}}</h2>
      </div>
      <div class="dropdown">
        <select id="dropdownMenu" onchange={{action 'changeScheduleData' value="target.value" }}>
          <option value="1">Division 1</option>
          <option value="2">Division 2</option>
        </select>
      </div>
    </div>
    {{#each this.date_headers as |date_header|}}
      <table class="teams-table" id="date-header">
      <thead class="teams-table-head">
        <tr>
          {{date_header}}
        </tr>
      </thead>
    </table>
    {{/each}}

    

    <table class="teams-table">
      <thead class="teams-table-head">
        <tr>
          {{#each this.headers as |header|}}
            <th>{{header}}</th>
          {{/each}}
        </tr>
      </thead>

      <tbody class="teams-table-body">
        {{#each this.data.data as |matchday|}}
          <tr>
            {{!-- <td>{{matchday.day_name}}</td>
            <td>{{matchday.month_name}}</td>
            <td>{{matchday.day_number}}</td> --}}
            <td>{{matchday.time}}</td>
            <td>{{matchday.home_team}}</td>
            <td>{{matchday.home_team_goals}} - {{matchday.visiting_team_goals}}</td>

            <td>{{matchday.visiting_team}}</td>
            <td>{{matchday.field}}</td>
          </tr>
        {{/each}}
      </tbody>
    </table>
  </div>
</div>