<div class="main">
    <div class="standings">
        <div class="header">
            <div class="table-title">
                <h2>{{@title}}</h2>
            </div>
        </div>
        {{#if @player}}
            {{@player.name}}
        {{else}}
            no
        {{/if}}
        <table class="teams-table">
            <thead class="teams-table-head">
                <tr>
                    {{!-- @player is object that has attributes, to use #each need the object in an array [{..}] --}}
                    {{#each @player as |stat|}}
                        <th>{{stat}}</th>
                    {{/each}}
                </tr>
            </thead>
            <tbody class="teams-table-body">
                {{#each this.data.data as |team|}}
                    <tr>
                        <td>{{team.rank}}</td>
                        <td>{{team.name}}</td>
                        <td>{{team.games_played}}</td>
                        <td>{{team.wins}}</td>
                        <td>{{team.draws}}</td>
                        <td>{{team.losses}}</td>
                        <td>{{team.goals_scored}}</td>
                        <td>{{team.goals_conceded}}</td>
                        <td>{{team.goal_differential}}</td>
                        <td>{{team.points}}</td>
                    </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
</div>