<div class="main">

    <div class="main-container">
        {{#if this.auth.isLoggedIn}}
            <h1 class="welcome">Welcome, {{this.auth.player.first_name}} {{this.auth.player.last_name}}!</h1>
            <h2>{{this.auth.player.name}}</h2>

            {{#if this.auth.roster}}
                <ul>
                    {{#each this.auth.roster as |player|}}
                        <li>
                            {{player.first_name}} {{player.last_name}}
                        </li>
                    {{/each}}
                </ul>

                <button type="button" {{on 'click' this.auth.getRoster}}>Roster</button>
            {{/if}}
            <button type="button" class="btn cancel" {{on 'click' this.auth.logout}}>Logout</button>
        {{else}}
            <div class="dark-bg"></div>
                {{this.auth.accountNotFound}}

            <div class="container">
                <div class="container-top">
                    <p>Before managing roster you need to be logged in.</p>
                </div>
                <div class="container-bottom">
                    <div class="login-button">
                        <button class="btn" id="login-button" type="button" {{on 'click' this.visibilityLogin}}>Log
                            In</button>
                    </div>
                    <div class="signup-text">
                        <p>Don't have an account yet? <a href="/sign-up">Sign Up</a></p>
                    </div>
                </div>
            </div>

            {{!-- Login forms --}}
            <div class="form-container" data-visible="false" expand="false">
                <div class="form-popup">
                    <form class="input-fields" {{on 'submit' this.submitUserInput}}>
                        <h2>Login</h2>


                        <label for="username"></label>
                        <input type="text" placeholder="Enter Username" id="username" name="username" required>

                        <label for="psw"></label>
                        <input type="password" placeholder="Enter Password" id="psw" name="password" required>
                        {{#if this.auth.accountNotFound}}
                            {{this.expandLoginContainer}}
                            <p class="error">Invalid username or password</p>

                        {{/if}}
                        <button type="submit" class="btn login">Login</button>
                        <button type="button" class="btn cancel" {{on 'click' this.visibilityLogin}}>Close</button>
                    </form>
                </div>
            </div>

        {{/if}}
    </div>

</div>